.funding-statistics-container {
  display: flex;
  height: 120vh;
}

.funding-statistics-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fbfaff;
}

.funding-statistics-title {
  margin-bottom: 20px;
}

.funding-statistics-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.chart-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 700px; /* 기간 통계 그래프 크기 조절 */
  margin: 0 auto; /* 가운데 정렬 */
}

.user-statistics {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  max-height: 380px;
  overflow-y: auto; /* 스크롤 추가 */
}

.user-list ul {
  list-style: none;
  padding: 0;
}

.user-list ul li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.gender-statistics {
  display: flex;
  flex-direction: column; /* 세로 배치로 변경 */
  align-items: center; /* 중앙 정렬 */
  margin-bottom: 20px;
}

.gender-stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gender-statistics canvas {
  max-width: 250px; /* 원형 그래프 크기 조절 */
  max-height: 250px;
}

.funding-statistics-buttons .dropdown {
  min-width: 200px; /* 드롭다운 크기 수정 */
}