/* 부모 컨테이너가 화면의 중앙에 위치하도록 설정 */
body, html {
  height: 100%;
  margin: 0;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 전체 화면 높이를 차지하도록 설정 */
}

.login-box {
  width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.label-container {
  margin-bottom: 5px;
}

.input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #6a5af9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #5643d5;
}

.signup-link {
  text-align: center;
  margin-top: 20px;
}

.signup-link button {
  background: none;
  border: none;
  color: #6a5af9;
  cursor: pointer;
}

.signup-link button:hover {
  text-decoration: underline;
}
.back-button {
  background: none;
  border: none;
  color: #6a5af9;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.back-button:hover {
  text-decoration: underline;
}
